.vs/
bin/
obj/
*.user
artifacts/
msbuild.binlog
.vscode/
*.binlog
*.nupkg
*.zip

*.idea

src/HykeIt.Server/appsettings.json
src/HykeIt.Server/Data/*.mdf
src/HykeIt.Server/Data/*.ldf
src/HykeIt.Server/Data/*.db

src/HykeIt.Server/Properties/PublishProfiles/FolderProfile.pubxml
src/HykeIt.Server/Content
src/HykeIt.Server/Packages
src/HykeIt.Server/wwwroot/Content
src/HykeIt.Server/wwwroot/Packages/*.log